<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <form id="word-form">
  <h4>English</h4><input id="inginput" type="text" name="ing">
  <h4>Spanish</h4><input id="espinput" type="text" name="esp">
  <input type="submit" value="Submit">
  </form>


  <ul>
  <% for (word in words) { %>
  <li><%= words[word]['ing'] %> - <%=words[word]['esp'] %></li>
  <% } %>

  </ul>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
  <script type="text/javascript" src="../javascripts/index.js"></script>
  </body>
</html>
